{% extends 'base.html' %}

{% block title %}Password Changed{% if site_settings.add_site_name_to_title %} - {{ site_settings.site_name }}{% endif %}{% endblock %}

{% block content %}
<div class="password-reset-complete-container">
    <div>
        <h1>Password Successfully Changed</h1>
        <p>
            Your password has been successfully changed. You can now log in with your new password.
        </p>
        <div class="form-actions">
            <a href="{% url 'users:login' %}" class="btn btn--primary">Log In</a>
        </div>
    </div>
</div>
{% endblock %}




